<div class="header-section first-header"></div>
<section class="about-us" id="o-nas">
  <h3 class="about-us__header header">O nas</h3>
  <div data-aos="fade-down" class="about-us__box">
    <img
      src="assets/img/history img.jpg"
      alt="zdjęcie całego zepsołu podczas koncertu w szkole"
      class="about-us__img"
    />
    <p class="about-us__text">
      Zespół kultywuje tradycje górali zamieszkujących tereny Kojszówki, czyli
      kliszczaków i babiogórców. W swoim repertuarze prezentuje przyśpiewki,
      piosenki ludowe, religijne, patriotyczne, kolędy, taniec oraz
      przedstawienia o obrzędach i zwyczajach ludowych. Swój repertuar zespół
      przedstawia nie tylko społeczności szkolnej, rodzicom, mieszkańcom wsi,
      ale również koncertuje poza granicami gminy i powiatu. Bierze również
      udział w konkursach i przeglądach.
    </p>
  </div>
  <h3 class="about-us__header header">Poznaj nas bliżej</h3>
  <div class="about-us__cards">
    <a
      href="https://spkojszowka.szkolnastrona.pl/"
      class="about-us__card-link"
      target="_blank"
    >
      <div class="about-us__card">
        <img
          src="assets/img/layout.svg"
          class="about-us__card-icon"
          alt="ikonka strony www"
        />
        <p class="about-us__card-text">Odwiedź stronę www szkoły</p>
      </div>
    </a>
    <a
      href="https://www.facebook.com/people/Kojszowiacy-i-Kojsowiocki/100063025850577/"
      target="_blank"
      class="about-us__card-link"
    >
      <div class="about-us__card">
        <img
          class="about-us__card-icon"
          src="assets/img/facebook.svg"
          alt="ikonka facebooka"
        />
        <p class="about-us__card-text">Zaobserwuj profil na Facebooku</p>
      </div>
    </a>
    <a href="" class="about-us__card-link">
      <div class="about-us__card">
        <img
          class="about-us__card-icon"
          src="assets/img/youtube.svg"
          alt="ikonka youtube"
        />
        <p class="about-us__card-text">Zasubskrybuj kanał na YouTube</p>
      </div>
    </a>
  </div>
</section>
