.contact {
  position: relative;
  padding-bottom: 10em;
  background-color: #edf2f4;
  &__header {
    color: #2b2d4a;
  }
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 5em;
    width: 95%;
    height: 20rem;
    max-width: 70rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  &__center-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &__paragraph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;

    &-text {
      margin-left: 1rem;
      font-size: 1.6rem;
      text-decoration: none;
      color: #2b2d4a;
      transition: color 0.3s;
      &:hover {
        color: #d62828;
      }
    }
    &-icon {
      margin-left: 1em;
    }
  }
  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-error {
      margin: 1em;
      font-size: 1.6rem;
      text-align: center;
      color: #d62828;
    }
    &-box {
      display: flex;
      padding: 1em;
      flex-direction: column;
      width: 95%;
      max-width: 35rem;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
      background-color: #fff;
    }
    &-input {
      padding: 0.6em;
      margin: 1em;
      width: 90%;
      border: 1px solid #b7b7b7;
      background: none;
      font-size: 1.8rem;
      color: #2b2d4a;
      &-text {
        padding: 1em;
        margin: 1em;
        min-width: 18rem;
        max-width: 90%;
        min-height: 25rem;
        max-height: 25rem;
        border-radius: 0px;
        border: 1px solid #b7b7b7;
        background: none;
        font-size: 1.8rem;
        color: #2b2d4a;
        &:focus ~ .contact__form-label-text {
          background-color: #fff;
          transform: translateY(0);
          color: #d62828;
          background-color: #edf2f4;
        }
        &:valid ~ .contact__form-label-text {
          transform: translateY(-90%);
          transition: transform 0s;
          background-color: #edf2f4;
        }
      }
      &:focus {
        outline: none;
        border: 2px solid #d62828;
      }
      &:focus ~ .contact__form-label {
        transform: translateY(-90%);
        color: #d62828;
        background-color: #fff;
      }
      &:valid ~ .contact__form-label {
        transform: translateY(-90%);
        transition: transform 0s;
        background-color: #fff;
      }
    }
    &-checkbox {
      margin: 0 0.5em;
    }
    &-label {
      position: absolute;
      top: 32%;
      left: 10%;
      padding: 0 0.5em;
      font-size: 1.8rem;
      transition: transform 0.3s;
      pointer-events: none;
      transform: translateY(-90%);
      color: #2b2d4a;
      background-color: #fff;
      &-text {
        position: absolute;
        top: 10%;
        left: 10%;
        padding: 0 0.5em;
        font-size: 1.8rem;
        transition: transform 0.3s;
        pointer-events: none;
      }
      &-checkbox {
        font-size: 1.3rem;
      }
    }
    &-more {
      position: relative;
      margin-left: 0.2em;
      cursor: pointer;
      &-img {
        width: 1.3rem;
      }
      &:hover::before {
        display: block;
      }
      &::before {
        position: absolute;
        display: none;
        bottom: 130%;
        border: 1px solid #b7b7b7;
        width: 20rem;
        padding: 0.5em 1em;
        content: 'Administatorem danych osobowych jest stowarzyszenie "Kojsowiocki" REGON: 521994299 - Kojszówka 154. Dane wpisane w formularzu kontaktowym będą przetwarzane w celu odpowiedzi na przesłane zapytanie.';
        background-color: #edf2f4;
        font-size: 1.4rem;
        z-index: 20;
      }
    }
    &-control {
      position: relative;
      &-checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
      }
    }
    &-btn {
      display: block;
      margin: 0 auto;
      font-family: "Montserrat";
      padding: 0.5em 3em;
      background-color: #2b2d4a;
      border: none;
      color: #edf2f4;
      font-size: 1.6rem;
      cursor: pointer;
      transition: background-color 0.3s;
      &:hover {
        background-color: #d62828;
      }
      &:disabled {
        background-color: #a7a7a7;
        cursor: default;
      }
    }
  }
}
// .contact__form-input[type="email"]:valid ~ .contact__form-label {
//   transform: translateY(-90%);
//   color: #2b2d4a;
//   background-color: #fff;
// }
@media (min-width: 375px) {
  .contact {
    &__box {
      width: 85%;
    }
  }
}
@media (min-width: 768px) {
  .contact {
    &__paragraph {
      &-text {
        font-size: 2rem;
      }
    }
  }
}
