<div whit class="header-section third-header"></div>
<footer class="footer">
  <div class="header-bg"></div>
  <div class="footer__box">
    <div class="footer__brand">
      <img
        src="assets/img/logoWhiteTransparent.png"
        alt="logo zepsołu"
        class="footer__brand-logo"
      />
    </div>
    <div class="footer__list">
      <a routerLink="/" class="footer__list-link">Strona główna</a>
      <a routerLink="/o-nas" class="footer__list-link">O nas</a>
      <a routerLink="/historia" class="footer__list-link">Historia</a>
      <a routerLink="/trofea" class="footer__list-link">Trofea</a>
      <a routerLink="/aktualnosci" class="footer__list-link">Aktualności</a>
      <a routerLink="/kontakt" class="footer__list-link">Kontakt</a>
    </div>
  </div>
  <div class="footer__down">
    <div class="footer__down-links">
      <a
        href="https://www.facebook.com/profile.php?id=100063025850577"
        target="_blank"
        class="footer__down-link"
        ><img
          src="assets/img/facebook1.svg"
          alt="ikonka facebooka"
          class="footer__down-link-img"
      /></a>
    </div>
    <div class="footer__down-year">
      <p class="footer__down-year-text">
        &copy; {{ year
        }}<span class="footer__down-year-span"></span> Kojsowiocki
      </p>
    </div>
    <div class="footer__down-producent">
      <p class="footer__down-producent-text">Produced by</p>
      <a href="https://reveleq.github.io/Reveleq-studio/" target="_blank">
      <img
        src="assets/img/logo-header.jpg"
        alt="logo producenta strony"
        class="footer__down-producent-logo"
      />
      </a>
    </div>
  </div>
</footer>
